<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: defaultHead}">
</head>

<body>
    <div class="container vh-100">
        <div class="row vh-100 align-items-center justify-content-center">
            <div class="col-12 border rounded p-5">
                <h1 class="text-center my-5">Login</h1>
                <form th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <label for="username">Username</label>
                        <input id="username" class="form-control" type="text" name="username" placeholder="Your username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input id="password" class="form-control" type="password" name="password" placeholder="Your password" required>
                    </div>
                    <button class="btn btn-primary w-100" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>
